<% provide :page_title, t('.title') %>
<% currently_at t('menu.questions') %>

<h1 class="mb-4"><%= t('.title') %></h1>

<% if policy(:question).new? %>
  <%= link_to t('.new'), new_question_path,
    class: 'btn btn-primary btn-lg mb-3',
    data: { turbo_frame: dom_id(Question.new) } %>

  <div class="my-3">
    <%= turbo_frame_tag Question.new %>
  </div>
<% end %>


<%= turbo_frame_tag 'questions' do %>
  <%= render @questions %>
<% end %>
