<h2><%= @question.title %></h2>

<time datetime="<%= @question.formatted_created_at %>">
  <%= @question.formatted_created_at %>
</time>

<p>
  <%= @question.body %>
</p>

<hr class="my-3">

<h2>Write your answer</h2>

<%= form_with model: @answer do |f| %>
  <div class="mb-3">
    <div class="col-sm-2 col-form-label">
      <%= f.label :body %>
    </div>
  </div>

  <div class="mb-3">
    <div class="col-sm-10">
      <%= f.text_area :body, class: 'form-control' %>
    </div>
  </div>

  <%= f.submit "Submit answer!", class: 'btn btn-primary' %>
<% end %>

<h2 class="mt-5">Answers</h2>

<% @question.answers.each do |answer| %>
  <article class="mb-3">
    <time datetime="<%= answer.formatted_created_at %>">
      <%= answer.formatted_created_at %>
    </time>

    <p>
      <%= answer.body %>
    </p>

    <%= link_to 'Delete', answer_path(answer), 
                          data: { turbo_method: :delete, turbo_confirm: 'Are you sure?' }, 
                          class: 'btn btn-danger custom-btn-size' %>
  </article>
<% end %>