<h2><%= @question.title %></h2>

<time datetime="<%= @question.formatted_created_at %>">
  <%= @question.formatted_created_at %>
</time>

<p>
  <%= @question.body %>
</p>

<hr class="my-3">

<%= render 'answers/new_answer' %>

<%= render 'answers/all_answers' %>